[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
pytest = "*"
setuptools = "*"

[dev-packages]
cython = ">=3.0.12"
build = "*"
pytest = "*"
exceptiongroup = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.12"
